<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Ember.js Notes</title>

    <link href="css/bootstrap.css"
      rel="stylesheet" type="text/css">
    <link href="css/master.css"
      rel="stylesheet" type="text/css">

    <script src="js/scripts/jquery-1.10.2.js"
      type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts/bootstrap.js"
      type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts/handlebars-1.0.0.js"
      type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts/ember.js"
      type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts/ember-data.js"
      type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts/localstorage_adapter.js"
      type="text/javascript" charset="utf-8"></script>
    <script src="js/app/app.js"
      type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <script type="text/x-handlebars" id="notes">
        <div id="notes" class="azureBlueBackground azureBlueBorderThin">
            {{input valueBinding="newNoteName"}}
            <button class="btn btn-default btn-xs" {{action "createNewNote"}}>New Note</button>
            <div class="list-group" style="margin-top: 10px;">
                {{#each controller}}
                      {{#linkTo "notes.note" this class="list-group-item"}}
                          {{name}}
                          {{#if introduction}}<br />{{introduction}}{{/if}}
                          <button class="btn btn-danger btn-xs pull-right" {{action "doDeleteNote" this}}>Delete</button>
                      {{/linkTo}}
                {{/each}}
            </div>
        </div>
        {{outlet}}
        {{partial confirmDialog}}
    </script>

    <script type="text/x-handlebars" id="notes/note">
        <div id="selectedNote">
            {{#if model}}
              <h1>{{name}}</h1>
              {{view Ember.TextArea valueBinding="value"}}
              <button class="btn btn-primary form-control mediumTopPadding" {{action "updateNote"}}>Update</button>
            {{/if}}
        </div>
    </script>

  <script type="text/x-handlebars" id="confirmDialog">
      <div id="confirmDeleteNoteDialog" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header centerAlign">
                      <h1 class="centerAlign">Delete selected note?</h1>
                  </div>
                  <div class="modal-body">
                      Are you sure you want to delete the selected Note? This action cannot be undone!
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-default" {{action "doCancelDelete"}}>Cancel</button>
                      <button class="btn btn-primary" {{action "doConfirmDelete"}}>Delete Note</button>
                  </div>
              </div>
          </div>
      </div>
  </script>
  </body>
</html>
